.room {
  border: 1px solid;
  margin: 30px;
  padding: 20px;
}

.progress {
  background-color: #ccc;
  width: 100%;
  height: 10px;
  margin: 0;
  padding: 0;
}

.user-progress {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: rgb(15, 197, 61);
  height: 100%;
}

.progress-row {
  margin: 2rem 5rem 0rem 1rem;
}

.ready-status-red {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: red;
}

.ready-status-green {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  background-color: rgb(45, 182, 63);
}

.info-wrapper {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.username {
  margin: 0 20px;
  font-size: 20px;
}

#info-block {
  margin: 30px 0px;
}

.join-text {
  margin: 30px 0px;
}

.content-area {
  height: 400px;
  border: 1px solid;
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px 0px;
}

.bot-area {
  margin: 30px 0px;
}

.h-center {
  margin: 0 auto;
}

#timer {
  font-size: 24px;
}

#game-timer {
  position: absolute;
  top: 0;
  right: 0;
}

#winners-container {
  margin: 0 auto;
}

#quit-results-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.done {
  background-color: rgb(139, 206, 38);
}

.next {
  border-bottom: 3px rgb(7, 151, 51) solid;
}

.finished {
  background-color: rgb(86, 230, 117);
}

#bot-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#bot-text {
  margin: 0 auto;
}

.bot-content-wrapper {
  min-width: 250px;
  display: flex;
  flex-direction: column;
}